.trait{
    color: yellow;
}
h1,h2{
    color: cadetblue;
    font-family: sans-serif
}
.movieRank{
    font-style: italic;
}
.imdb{
    color: red;
}
:link{
    text-decoration: none;
}
.imdb:hover{
    text-decoration: underline;
}
p::first-letter{
    font-size: 150%;
    
}
p.intro{
    -webkit-transform:rotateX(180deg);
    
}
dt{
    color: yellow;
}
.movielist{
    display: flex;
    flex-direction: column-reverse;
}